

.Miformulario{
    width: 30%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
}
.titulo__formulario{
    color: #00007b;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #ab9595
}
.emailcontacto{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 10rem;
    font-size: 15px;

}
.card__footer .card__copyright{
    font-size: 15px;
}