/*========================PRINCIPALES========*/




body{   
    font-family: sans-serif;
    background-color: #cfe8f0;
    position: relative;
    padding-bottom: 10rem;
    min-height: 100vh;
}

main{
    margin: 30px;
}

img{
    width: 100%;
}

section{
    margin-bottom: 5vh;
}
