
header{
    background-color: $color-azul;
    font-family: sans-serif;
    
    .LOGOpag{
        width: 80px;
        margin: 10px;
        border-radius: 20px;

}


    nav a{
        color: $color-azul;
        font-size: 1.3rem;
        text-decoration: none;
        padding: .3rem 1.5rem;

}

li{ 
    margin-right: 2rem;
    border-style: solid;
    color: $color-azul;
    background-color: #ffffff;
    border-radius: 25px;
    list-style-type: none;
    padding: 1px;

}


.nav-item{
    transition: 1s;
    &:hover{
            transform: scale(1.1);
            background-color: #9a9a9c;
    }
}

.nav__item-submenu{
    transition: 1s;
    &:hover{
            transform: scale(1.1);
            background-color: #9c9a9a;
    }
}
.nav-item:active{
    color: #a0a3ff;
    background-color: #5c64fa;
}

.nav__item-submenu:active{
    color: #a0a3ff;
    background-color: #5c64fa;
}


.nav__link{
    color: #000000;
}


/* .nav-item:hover{
    transform: scale(1.1);
} */


.trigger:hover > .nav__submenu{
    display: block;
    position: absolute;
    background-color: #b9c8f1;
    border-radius: 10px;
    box-shadow: 15px 10px 20px #5b5b5b;
    padding: 5px;
}
.nav__submenu{
    display: none;
    list-style-type: none;
    z-index: 1;
}
.nav-item{
    z-index: 1;
}
.nav__submenu li{
    margin: 0.5rem 1rem;
}
.nav__submenu a{
    font-size: 1rem;
}

}

