


/* LAS VARIABLES SIEMPRE SE DEFINEN ARRIBA */
/* SE PUEDE USAR PARA EL TAMAÑO DE LETRA, EL COLOR DE NAVBAR, GUARDAR BORDER, ETC. */

$color-azul: #5454dd;



// variables de ejemplo
$font-link: 1rem;

$border-img: 2px solid red;


/* EJEMPLOS */

/* font-size: $font-link; */
/* border: $border-img;*/