
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========================RESEEEEET========*/




/*========================PRINCIPALES========*/




body{   
    font-family: sans-serif;
    background-color: #cfe8f0;
}

header{
    background-color:  #5454dd;
    font-family: sans-serif;
}

main{
    margin: 30px;
}

img{
    width: 100%;
}

/*========================PRINCIPALES========*/


/*=============================== FOOTER ====*/

footer{
    height: 200px;
    width: 100%;
    background-color: #5454dd;
    margin-top: 5rem;

}


.parrafo__footer{
    text-align: center;
    font-size: 20px;
}

.redes__sociales__a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1rem;
    color: #000000;
    width:48px;
}

.redes__sociales{
    display: flex;
    justify-content: center;
}

.redes__sociales img{
    max-width: 100%;
    max-height: 100%;
}


/*=============================== FOOTER ====*/




/*=========================MENU NAV*/


.LOGOpag{
        width: 80px;
        margin: 10px;
        border-radius: 20px;
}



.nav__container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.nav__container-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 3rem;

}


.nav__item:hover{
    background-color: #a7a3f8;
    border-radius: 20px;
}



li{ 
    margin-right: 2rem;
    border-style: solid;
    color: #487ccf;
    background-color: #ffffff;
    border-radius: 25px;
    list-style-type: none;
    padding: 1px;

}

nav a{
    color: #4a12e3;
    font-size: 1.3rem;
    text-decoration: none;
    padding: .3rem 1.5rem;
}











.trigger:hover > .nav__submenu{
    display: block;
    position: absolute;
    background-color: #b9c8f1;
    border-radius: 10px;
    box-shadow: 15px 10px 20px #5b5b5b;
    padding: 5px;
}

.nav__submenu{
    display: none;
    list-style-type: none;
    z-index: 1;

}

.nav__submenu li{
    margin: 0.5rem 1rem;

}

.nav__submenu a{
    font-size: 1rem;
}



/*=========================MENU NAV*/




/*==============================MAIN_INDEX*/










.grid{
    margin: 1rem;

    display: grid;

    grid-template-columns: 50% 50%;

    grid-template-rows:  min-content min-content min-content min-content;

    grid-template-areas:
    "imagen1         imagen1"
    "title           title"
    "description     img"
    "img2            description2"
    ;
}


.grid .imagen1{
    grid-area: imagen1;
    width: 50%;
    height: 28rem;
    margin-left: 405px;
}



.grid .grid__title{
    grid-area: title;
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    text-decoration: underline #0c0c8e;
    color: #0c0c8e;
}


.grid .grid__description{
    grid-area: description;
    justify-content: center;
    margin: 4rem 2rem;
    font-size: 1.5rem;

}


.grid .grid__imagen1{
    grid-area: img;
    width: 100%;
    margin: 5% auto;
    border-radius: 50px;
    border: 5px solid #50a8b6;
    height: 27rem;
}


.grid .grid__imagen2{
    grid-area: img2;
    width: 100%;
    border-radius: 50px;
    border: 5px solid #50a8b6;
    height: 30rem;
}

.grid .grid__description2{
    grid-area: description2;
    justify-content: center;
    margin: 4rem 2rem;
    font-size: 1.5rem;
}





/*==============================MAIN_INDEX*/



/*==========================================HTML SEGUROS*/


.carousel__seguro img{
    object-fit: fill;
    height: 70vh;
    width: 100%;
    background-color: #c7c9ff;
}






.grid__container {
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: min-content min-content min-content; 
    gap: 0px 0px; 
    grid-template-areas: 
    "description1 description1              img1 img1"
    "img2 img2                              description2 description2"
    "description3 description3              img3 img3";
}

.segurosimg__1{
    grid-area: img1;
    width: 100%;
    height: 18rem;
    margin: 5% auto;
    border-radius: 50px;
    border: 5px solid #50a8b6;

}


.description__1{
    grid-area: description1;
    /* justify-content: center; */
    margin: 4rem 2rem;
    font-size: 1.5rem;
}

.segurosimg__2{
    grid-area: img2;
    width: 95%;
    height: 19rem;
    margin: 5% auto;
    border-radius: 50px;
    border: 5px solid #50a8b6;
}

.description__2{
    grid-area: description2;
    /* justify-content: center; */
    margin: 4rem 2rem;
    font-size: 1.5rem;
    
}

.segurosimg__3{
    grid-area: img3;
    width: 100%;
    height: 20rem;
    margin: 5% auto;
    border-radius: 50px;
    border: 5px solid #50a8b6;
}

.description__3{
    grid-area: description3;
    /* justify-content: center; */
    margin: 4rem 2rem;
    font-size: 1.5rem;
}



/* ===================== GRILLAS SEGUROS==============*/


















/*==========================================HTML SEGUROS*/


/* =======================================HTML CONTACTO */



.Miformulario{
    width: 30%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
}

.titulo__formulario{
    color: #00007b;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #ab9595
}

.emailcontacto{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 10rem;
    font-size: 15px;

}

.card__footer .card__copyright{
    font-size: 15px;
}


/* =======================================HTML CONTACTO */


















/* ==========================================
========================================== MEDIAQUERIES
========================================== */



/* ===========================================DESKTOP */
/* ==================================RESPONSIVE INICIO */
@media screen and (max-width: 1200px){
    /* body{
        background-color: #ba97e9;
    } */

    .grid{
    
        grid-template-areas:
        "imagen1         imagen1"
        "title           title"
        "img2            img"
        "description2    description";



    }

.grid .imagen1{
    margin: auto;
}

.grid .grid__imagen1{
    margin-left: 1rem;
}

.grid .grid__imagen2{
    margin-right: 1rem;
}

.grid .grid__description{
    font-size: 1.3rem;
}

.grid .grid__description2{
    font-size: 1.3rem;
}

.card__copyright{
    font-size: 12px;
}

}






/* ==========================================TABLETS */
/* ===================================RESPONSIVE INICIO */
@media screen and (max-width: 780px){
    /* body{
        background-color: #56b05a;
    } */

    .grid{
    
        grid-template-columns: 50% 50%;
    
        grid-template-rows:  min-content min-content min-content;
    
        grid-template-areas:
        "imagen1          imagen1"
        "title            title"
        "description2    img"
        "img2             description2"
        ;

    }



    .grid .grid__imagen1{
        grid-area: img;
        width: 100%;
        margin: 5% auto;
        border-radius: 50px;
        border: 5px solid #50a8b6;
        height: 16rem;
    }

    .grid .grid__imagen2{
        grid-area: img2;
        width: 100%;
        border-radius: 50px;
        border: 5px solid #50a8b6;
        height: 19rem;
    }

    .grid .grid__description2{
        grid-area: description2;
        justify-content: center;
        margin: 1rem 1rem;
        font-size: 1rem;
    }
    


    .grid .grid__description{
        grid-area: description;
        justify-content: center;
        margin: 2rem 0rem;
        font-size: 1rem;
    }

nav{
    background-color: #533db4;

}

nav ul{
    display: flex;
    justify-content: right;
}


.grid .imagen1{
    grid-area: imagen1;
    width: 50%;
    height: 21rem;
    margin-left: 170px;
}

.carousel__seguro img{
    object-fit: fill;
    height: 35vh;
    width: 100%;
    background-color: #c7c9ff;
}

.grid{
    width: 100%;
}

.card__copyright{
    font-size: 12px;
}


}



/*======================================== MOBILE */
/* =================================RESPONSIVE INICIO */
@media screen and (max-width: 480px){
    /* body{
        background-color: #ffb2b2;
    } */



    .grid{
        display: flex;
        flex-direction: column;
    }




p{
    display: none;
}

footer{
    display: flex;
    flex-direction: column;
}

footer .parrafo__footer{
    display: flex;
    flex-direction: column;
}

.grid{
    width: 100%;
}

.grid .imagen1{
    margin-left: 86px;
}



}




/* =======================DESKTOP */
/* =====================RESPONSIVE SEGUROS */

@media screen and (max-width: 1200px){


    .grid__container p{
        font-size: 18px;
    }

    footer h4{
        font-size: 18px;

    }

    .parrafo__footer{
        font-size: 18px;
    }





}



/* ==========================TABLETS */
/* ========================RESPONSIVE SEGUROS */

@media screen and (max-width: 780px){

    .grid__container {
        grid-template-areas: 
        "img1 img1                  img2 img2"
        "description1 description1   description2 description2"
        "img3  img3 description3 description3";
    }


    .grid__container .segurosimg__1{
        height: 9.2rem;
    }


    .grid__container .segurosimg__2{
        height: 9.2rem;

    }


    .grid__container .segurosimg__3{
        height: 9.5rem;

    }

    .grid__container .description__1{
        font-size: 14px;
        margin: 1rem 2rem;
    }

    .grid__container .description__2{
        font-size: 14px;
        margin: 1rem 2rem;
    }

    .grid__container .description__3{
        font-size: 14px;
        margin: 2rem 2rem;
    }



}



/* ============================MOBILE */
/* ========================RESPONSIVE SEGUROS */

@media screen and (max-width: 480px){

    .grid__container{
        display: flex;
        flex-direction: column;
    }


    .segurosimg__1{
        margin: 5% 0;
    }


    .segurosimg__2{
        height: 10rem;
        margin: 5% 0;
    }

    
    .segurosimg__3{

        height: 10rem; 
        margin-bottom: 5%;
        margin-top: 0;
    }



    .card__footer{
        
        display: flex;
        flex-direction: column;
        

    }

    .card__copyright{
        font-size: 10px;
    }

    .parrafo__footer{
        font-size: 18px;
    }

}






















/* .grid__container{
    display: grid;
    
    grid-template-columns: 50% 50%;

    grid-template-rows: min-content min-content min-content;

    grid-template-areas: 
    "description1      img1"
    "img2              description2"
    "description3      img3"
    ;
}

.grid__imagenSeguros{
    grid-area: img1;
    width: 40rem;
    border-radius: 50px;
    border: 5px solid #50a8b6;
}

.grid__descriptionSeguros{
    grid-area: description1;
    justify-content: center;
    margin: 5rem 0 0 0;
    font-size: 1.5rem;
}

.gridimagen__dos{
    grid-area: img2;
    max-height: 100%;
    border-radius: 50px;
    border: 5px solid #50a8b6;
}

.griddescription__dos{
    grid-area: description2;
    padding: 2rem;
    font-size: 1.5rem;
}

.grid__imgtres{
    grid-area: img3;
    width: 40rem;
    height: 20rem;
    border-radius: 50px;
    border: 5px solid #50a8b6;
    
}

.grid__descriptionTres{
    grid-area: description3;
    padding: 2rem;
    font-size: 1.5rem;
} */
































